@tailwind base; /* Preflight will be injected here */
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@layer base {
	h1 {
		@apply text-2xl font-bold text-center mb-2;
	}
	h2 {
		@apply text-xl font-bold text-center;
	}
	h3 {
		@apply text-lg font-bold;
	}
	button {
		@apply bg-buff-300 hover:bg-buff-200 font-bold py-1 px-4 border-b-4 border-e-2 border-buff-500 hover:border-buff-300 rounded;
	}
}

html {
	@apply text-xl m-4;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
} */

body {
	@apply bg-buff-100;
	height: calc(100svh - 2rem);
}

label {
	user-select: none;
}
