@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@layer base {
	h1 {
		@apply text-2xl sm:text-3xl font-bold text-center mb-2;
	}
	h2 {
		@apply text-xl sm:text-2xl font-bold text-center;
	}
	h3 {
		@apply text-lg sm:text-xl font-bold;
	}
	button {
		@apply bg-buff-300 hover:bg-buff-200 font-bold py-1 px-4 border-b-4 border-e-2 border-buff-500 hover:border-buff-300 rounded;
	}
}

html {
	@apply text-xl m-4 sm:m-8;
}

body {
	@apply bg-buff-100 mb-4 sm:max-w-5xl sm:mx-auto;
}

label {
	user-select: none;
}

.neumo {
	box-shadow: -25px 25px 50px #d9cfb1, 25px -25px 50px #ffffe7;
}

.custom-ordered-list ul {
	counter-reset: list-counter;
}

.custom-ordered-list li {
	counter-increment: list-counter;
	position: relative;
}

.custom-ordered-list li:before {
	z-index: -1;
	content: counter(list-counter);
	position: absolute;
	left: -1.5rem;
	@apply text-buff-200;
	font-weight: bold;
	text-shadow: 0 0 1px #fff;
}
